@import url('https://fonts.googleapis.com/css2?family=Cormorant+Unicase:wght@300;400;500;600;700&display=swap');


/* {
outline: 1px dotted lime;
}*/


body {
    background-color: aliceblue;
    margin: 0;
    font-family: 'Cormorant Unicase', serif;
    
}


.header {
    background-color: darkslategrey;
    color: white;
    height: 80px;
    border-bottom: 3px solid white;

}

.nav {
   display: grid;
   grid-template-columns: 200px auto;
   margin-left: auto;
   margin-right: auto;
   max-width: 950px;
}

.logo {
    margin-top: 35px;
   font-size: 1.4rem;
}

.links a {
color: white;
padding-left: 10px;
padding-right: 10px;
text-decoration: none;
}

.links {
   margin-top: 40px;
   font-size: 0.75rem;
   text-align: right;
    color: aliceblue;
    
}



.banner {
background-color: aliceblue;
padding: 20px 0;
text-align: center;
}

.banner img {
max-width: 780px;
width: 90%;
}

/* Our Services section starts here*/

.services {
    background-color: darkslategrey;
    color: aliceblue;
    padding: 20px;
     height: 500px;
    
    
}


.yo {
       display: grid;
   grid-template-columns: repeat(3 1fr);
    grid-template-rows: 1fr 1fr 2fr;
   max-width: 950px;
}


/* portofolio section starts here*/

.portfolio {
     display: grid;
   grid-template-columns: repeat(3 1fr)  ;
    grid-template-rows:repeat(4 1fr) ;
     background-color: aliceblue;
    color: darkslategrey;
    padding: 20px 0;
     height: 1000px;
    
}

.writing {
    padding: 20px;
    font-size: 20px;
}

.images img {
max-width: 400px;
width: 90%;
}


/*images*/



/*about section starts here*/

.about {
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: #75aa90;
    color: aliceblue;
    margin: 0;
    height: 600px;
    
}

.text {
    grid-row: 1/2;
    padding: 20px;
    font-size: 22px;
}

.salmon {
    color: darkslategrey;
    font-weight: bold;
}


/*how to add image?*/
.me {
    grid grid-column: 2/3;
    max-height: 500px;
}


/*contact section starts here*/


.contact {
    background-color: aliceblue;
    color: darkslategrey;
    height: 700px;
    
    
}

.middle {
    padding: 20px;
}

/*footer starts here*/

.footer {
    background-color: darkslategrey;
    height: 80px;
}










