@import url('https://fonts.googleapis.com/css2?family=Cormorant+Unicase:wght@300;400;500;600;700&display=swap');


/* {
outline: 1px dotted lime;
}*/


body {
    background-color: aliceblue;
    margin: 0;
    font-family: 'Cormorant Unicase', serif;
    
}


.header {
    background-color: darkslategrey;
    color: white;
    height: 80px;
    border-bottom: 3px solid white;

}

.nav {
   display: grid;
   grid-template-columns: 200px auto;
   margin-left: auto;
   margin-right: auto;
   max-width: 950px;
}

.logo {
    margin-top: 35px;
   font-size: 1.4rem;
}

.links a {
color: white;
padding-left: 10px;
padding-right: 10px;
text-decoration: none;
}

.links {
   margin-top: 40px;
   font-size: 0.75rem;
   text-align: right;
    color: #4B4E61;
    
}

.banner {
background-color: aliceblue;
padding: 20px 0;
text-align: center;
}

.banner img {
max-width: 780px;
width: 90%;
}

.services {
    background-color: darkslategrey;
    padding: 20px 0;
    text-align: center;
    grid-template-columns: repeat(3 1fr);
    grid-template-rows: 1fr 1fr 2fr;
    
    
}
























